<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Sorry!, We have some error here </h1>
    <p>Our team will ensure this error will resolve in few time</p>

<%- include('includes/end.ejs') %>